  /* specific styles */
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  caption,
  th,
  td {
      text-align: left;
      font-weight: normal;
      vertical-align: middle;
  }

  q:before,
  q:after {
      content: "";
  }

  a,
  ins {
      text-decoration: none;
  }